<h1>作品一覧</h1>

<% @posts.each do |post| %>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>本文</th>
        <th>画像</th>
        <th>音声</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.body %></td>
        
        <% if post.image.attached? %>
          <td><%= image_tag post.image, size: "200x200" %></td>
        <% else %>
          <td>No Image...</td>
        <% end %>

        <% if @musics.present? %>
          <td>
            <% @musics.each do |music| %>
              <div class="music">
                <%= music.body %>
                <audio src="<%= music.file %>" controls></audio>
              </div>
            <% end %>
          </td>
        <% else %>
          <td>No music available.</td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>

