<table class="table table-hover table-inverse">
  <% if @range == "User" %>
    <h2>Users search for "<%= @word %>"</h2>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% if @users.present? %>
        <% @users.each do |user| %>
          <tr>
            <td></td>
            <td><%= user.name %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="2">No users found for "<%= @word %>".</td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <h2>Posts search for "<%= @word %>"</h2>
    <thead>
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.user.name, user_path(post.user) %></td>
            <td><%= link_to post.title, post_path(post.id) %></td>
            <td><%= truncate(post.body, length: 50) %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3">No posts found for "<%= @word %>".</td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>